
html {
  scroll-behavior: smooth;
}


/* comom */
.backgroud-1{
  background-image: url(//bizweb.dktcdn.net/100/376/737/themes/894814/assets/bg_danhmuc.jpg?1676271560514);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  max-width: 100%;
}
/* sale */
.sale{
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgb(156, 255, 143), 0 0 30px rgb(105, 229, 238);
  animation: colorChange 2s infinite;
}
@keyframes colorChange {
  0% {
    color: rgba(255, 255, 255, 1);
  }
  50% {
    color: (255, 255, 255, 1);
  }
  100% {
    color: rgb(255, 255, 255, 1);
  }
}
.triangle-up {
  width: 0;
  height: 0;
 /* Độ rộng phần tam giác */
  border-left: 20px solid #ff532d;
  border-right: 20px solid #ff532d; /* Độ rộng phần tam giác */
  border-bottom: 10px solid transparent; /* Màu sắc và chiều cao của tam giác */
  box-shadow: 2px 0px 0px 0 rgba(0, 0, 0, 0.5);
}
/* color */
.color-text{
  color:#727272;
}
.bgcolor-primary{
  background-color:  #ff532d !important;
}
.color-primary{
  color:  #ff532d !important;
}
.no-line-break {
  white-space: nowrap;
}
/* opacity */
.opacity-90{
  opacity: 0.9;
}
/* font size */
.fs-30{
  font-size: 30px;
}
.fs-18{
  font-size: 18px;
}
.fs-21 {
  font-size: 21px;
  color: #4e4e4e;
  cursor: pointer;
}
.fs-48{
  font-size: 48px;
}

.mr-10 {
  margin-right: 10px;
}
/* hover */

.text-hover:hover{
  color: #ff532d !important;
}
.category-hover {
  transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi */
}

.category-hover:hover {
  color: #ff532d !important;
  cursor: pointer;
  transform: translateX(6px); /* Di chuyển phần tử sang phải 50px khi di chuột vào */
}
/* border */
.border-none{
  border: none !important;
}
.image {
  transition: transform 0.5s;
}
.cursor-pointer{
  cursor: pointer;
}
.cursor-text {
  cursor: text;
}
.image:hover {
  transform: scale(1.1); /* Điều chỉnh tỷ lệ phóng to tùy ý */
}

/*  */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  color: #000;
  background-color: #fff;
  padding: 20px 300px;
  line-height: 80px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1999;
  transition: all .5s ease;
}
.header.shrink {
  background-color: #fff;
  left: 0;
  right: 0;
  padding: 0 300px;
  margin: 0;
}


#search_mini_form {
  position: relative;
}

.header .search-form .form-search .minisearch {
  display: flex;
  align-items: flex-end;
}

  .header .search-form .form-search .minisearch .title-search {
      display: inline-flex;
      margin-right: 15px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1;
      text-transform: uppercase;
      white-space: nowrap;
      position: relative;
      top: 3px;
  }

.header .minisearch .input-text {
  flex: 1;
  height: auto;
  padding: 0 0 5px;
  font-size: 16px;
  letter-spacing: 0px;
  background: 0 0;
  line-height: normal;
  color: #000;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  border-radius: 0;
}

.header .minisearch .button {
  display: inline-block;
  margin-left: 10px;
  background: 0 0;
  border: none;
  font-size: 20px;
  line-height: 1;
  opacity: 1;
  visibility: visible;
  color: #000;
}

.header-phone {
  cursor: pointer;
}

.header-account {
  cursor: pointer;
  padding: 0 0 0 15px;
}

.cart {
  padding: 0 0 0 20px;
}

.hv:hover {
  color: #ebaf60;
  transition: all 0.5s;
}

.follow {
  cursor: pointer;
  padding: 0 0 0 15px;
}

/* css modal account */
.show-login-canvas .canvas-customer-login {
  right: 0;
}

.show-login-canvas .header-overlay {
  opacity: 1;
  visibility: visible;
}

.header-overlay {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9990;
  cursor: pointer;
}

.header-wrapper-end {
}

.header-canvas-menu {
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 100%;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .6);
  -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .6);
  -ms-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .6);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .6);
  position: fixed;
  top: 0;
  left: -450px;
  /* left:0; */
  bottom: 0;
  z-index: 9999;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.canvas-customer-login {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 100%;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .6);
  -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .6);
  -ms-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .6);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .6);
  position: fixed;
  top: 0;
  right: -500px;
  bottom: 0;
  z-index: 9999;
  -webkit-transition: all 1s;
  transition: all 1s;
}

  .canvas-customer-login .close {
      display: block;
      font-size: 20px;
      line-height: 1;
      color: #000;
      opacity: 1;
      position: absolute;
      top: 10px;
      right: 20px;
  }

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  cursor: pointer;
}

.canvas-customer-login .canvas-content-wrapper {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
  margin-top: 10px;
  overflow: auto;
}

  .canvas-customer-login .canvas-content-wrapper .title {
      display: block;
      margin-bottom: 15px;
      border: none;
      font-size: 26px;
      line-height: 1;
      font-weight: 500;
      color: #000;
  }

  .canvas-customer-login .canvas-content-wrapper .create-account {
      display: block;
      font-size: 16px;
      line-height: 1.75;
      color: #000;
  }

      .canvas-customer-login .canvas-content-wrapper .create-account a {
          margin-left: 5px;
          color: #666;
      }

.myaccount-form-login input {
  height: 35px;
  padding: 0 0 3px;
  border: none;
  border-bottom: 2px solid #eee;
  font-size: 16px;
  line-height: normal;
  color: #000;
  outline: none;
  width: 100%;
}

.myaccount-form-login .field-control {
  margin-top: 40px;
}


.myaccount-form-login input {
  height: 35px;
  padding: 0 0 3px;
  border: none;
  border-bottom: 2px solid #eee;
  font-size: 16px;
  line-height: normal;
  color: #000;
}

.myaccount-form-login .remind {
  margin-top: 10px;
  font-size: 15px;
}

  .myaccount-form-login .remind a {
      color: #9a9a9a;
  }

.field.choice,
.form-group.choice {
  position: relative;
  text-align: left;
}

.myaccount-form-login .mgs-gdpr-checkbox input[type=radio],
.myaccount-form-login .mgs-gdpr-checkbox input[type=checkbox] {
  opacity: 1;
  height: 13px !important;
  min-height: unset;
  margin: unset;
}



.field.choice .label,
.form-group.choice .label {
  margin: 0;
  font-size: 13px;
  cursor: pointer;
  white-space: normal;
}

.myaccount-form-login .actions-toolbar {
  display: block;
  margin-top: 30px;
}

  .myaccount-form-login .actions-toolbar .btn-login {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 45px;
      background: #000;
      color: #fff;
      border: none;
      font-size: 15px;
      font-weight: 500;
  }

.uppercase {
  text-transform: uppercase;
}

.myaccount-socials-login,
.block-customer-login {
  width: 100%;
  margin-top: 45px;
  padding-top: 45px;
  border-top: 1px solid #eee;
}

  .myaccount-socials-login > div:not(:last-child) {
      margin-bottom: 20px;
  }

  .myaccount-socials-login .login-facebook {
      background: #4267b2;
  }

  .myaccount-socials-login > div a {
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 45px;
      font-size: 15px;
      font-weight: 500;
      color: #fff;
      position: relative;
      overflow: hidden;
  }

  .myaccount-socials-login > div i {
      margin-right: 20px;
      font-size: 20px;
  }

  .myaccount-socials-login > div:not(:last-child) {
      margin-bottom: 20px;
  }

  .myaccount-socials-login .login-google {
      background: #dc5246;
  }

.close-menu {
  display: block;
  font-size: 20px;
  line-height: 1;
  color: #000;
  opacity: 1;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

/* slide show */
.img-side {
  width: 100%;
  object-fit: contain;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin-top: 120px;
}

.slide {
  display: none;
}

.fade {
  opacity: 1 !important;
}

.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active {
  background-color: #fff;
}

@keyframes fade {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}


/* product */

#container {
  max-width: 100%;
}

.content {
  display: grid;
  max-width: 100%;
  padding: 0 300px;
}

.arival-text {
  font-size: 1.875rem;
  font-weight: 400;
  font-family: 'Helvetica Neue', sans-serif;
  padding: 15px 0;
  margin:30px 0;
  width: 100%;
  text-align:center;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: -100%; /* Bắt đầu ẩn bên trái */
  width: 100%;
  height: 100%;
  background: rgba(43, 37, 37, 0.5); /* Màu nền mờ */
  transition: left 0.3s; /* Hiệu ứng chuyển động */
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-overlay button {
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}
.image-overlay button:hover {
  background: white;
  color: black;
}
.image-container:hover .image-overlay {
  left: 0; /* Hiển thị lớp mờ khi hover */
}
/* phan trang */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom:20px;
}

.page-btn {
  padding: 10px 15px;
  color: #000;
  border: none;
  cursor: pointer;
  margin: 20px 5px;
  border-radius: 20px;
}

.page-btn.active {
  background-color: #ff532d;
  color: #fff;
}

  .page-btn:hover {
      background-color: #ff532d;
      color: #fff;
  }


/*footer*/
#footer1 {
  background-color: rgb(0, 0, 0);
  width: 25%;
  height: 120px;
  float: left;
  color: white;
  font-size: 17px;
}

  #footer1 a {
      text-decoration: none;
      color: white;
  }

#f1 {
  background-color: rgb(255, 255, 255);
  width: 4px;
  height: 120px;
  float: left;
}


#footer2 {
  background-color: rgb(0, 0, 0);
  width: 24%;
  height: 120px;
  float: left;
  color: white;
  font-size: 17px;
}

  #footer2 a {
      text-decoration: none;
      color: white;
  }


#f2 {
  background-color: rgb(255, 255, 255);
  width: 5px;
  height: 120px;
  float: left;
}


#footer3 {
  background-color: rgb(0, 0, 0);
  width: 25%;
  height: 120px;
  float: left;
  color: white;
  font-size: 17px;
}

  #footer3 a {
      text-decoration: none;
      color: white;
  }


#f3 {
  background-color: rgb(255, 255, 255);
  width: 5px;
  height: 120px;
  float: left;
}

#footer4 {
  background-color: rgb(8, 8, 8);
  width: 25%;
  height: 120px;
  float: left;
  color: white;
}

  #footer4 a {
      text-decoration: none;
      color: white;
  }


#foobody {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 400px;
  float: left;
  color: rgb(0, 0, 0);
  text-align: center;
}

.fbd {
  display: inline-block;
  text-align: left; /* Căn lề văn bản sang trái */
  margin-top: 100px; /* Khoảng cách từ phía trên */
  margin-left: 200px; /* Khoảng cách từ phía trái */
  width: 300px; /* Độ rộng của khung thông tin công ty */
  font-size: 16px;
}

  .fbd a {
      text-decoration: none;
      color: #000;
  }



  .fbd a2 {
      text-decoration: none;
      color: black;
  }


.fbg {
  display: inline-block;
  vertical-align: top;
  text-align: left; /* Căn lề văn bản sang trái */
  margin-top: 100px; /* Khoảng cách từ phía trên */
  margin-left: 50px; /* Khoảng cách từ phía trái */
  width: 200px; /* Độ rộng của khung thông tin công ty */
  font-size: 20px;
}
.fbp a,
.fbg a{
  font-size:16px;
  text-decoration:none;
  color:#666;  
}

.fbp {
  display: inline-block;
  vertical-align: top;
  text-align: left; /* Căn lề văn bản sang trái */
  margin-top: 100px; /* Khoảng cách từ phía trên */
  margin-right: 20px;
  margin-left: 50px; /* Khoảng cách từ phía trái */
  width: 300px; /* Độ rộng của khung thông tin công ty */
  font-size: 20px;
}

#footerc {
  background-color: rgb(242, 235, 235);
  width: 100%;
  height: 230px;
  float: left;
  color: rgb(1, 1, 1);
}

  #footerc i {
      margin-top: 50px;
      margin-right: 50px; /* Điều chỉnh khoảng cách bên phải */
  }

  #footerc h5 {
      float: right;
  }