html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* comom */

.uppercase {
  text-transform: uppercase;
}


/* color */
.color-text {
  color: #727272;
}

.bgcolor-primary {
  background-color: #ff532d !important;
}

.color-primary {
  color: #ff532d !important;
}

.no-line-break {
  white-space: nowrap;
}

/* opacity */
.opacity-90 {
  opacity: 0.9;
}

.fw-500 {
  font-weight: 500;
}

/* font size */
.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-21 {
  font-size: 21px;
  color: #4e4e4e;
  cursor: pointer;
}

.fs-30 {
  font-size: 30px;
}

.fs-48 {
  font-size: 48px;
}

.mr-10 {
  margin-right: 10px;
}

/* hover */

.text-hover:hover {
  color: #a68242 !important;
}

.image-hover:hover {
  background-image: url('https://elise.vn/media/catalog/product/cache/bb52e54e5ec1828d48ae8bf7c98f9f69/f/f/ff2306391ocwopk1.jpg');
}

/* border */
.border-none {
  border: none !important;
}

/* cursor */
.cursor-pointer {
  cursor: pointer;
}

.cursor-text {
  cursor: text;
}

/*  */


.header {
  color: #000;
  background-color: #fff;
  padding: 20px 40px;
  line-height: 80px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1999;
  transition: all .5s ease;
}

.header.shrink {
  background-color: #fff;
  left: 0;
  right: 0;
  padding: 0 40px;
  margin: 0;
}


#search_mini_form {
  position: relative;
}

.header .search-form .form-search .minisearch {
  display: flex;
  align-items: flex-end;
}

.header .search-form .form-search .minisearch .title-search {
  display: inline-flex;
  margin-right: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  top: 3px;
}

.header .minisearch .input-text {
  flex: 1;
  height: auto;
  padding: 0 0 5px;
  font-size: 16px;
  letter-spacing: 0px;
  background: 0 0;
  line-height: normal;
  color: #000;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  border-radius: 0;
}

.header .minisearch .button {
  display: inline-block;
  margin-left: 10px;
  background: 0 0;
  border: none;
  font-size: 20px;
  line-height: 1;
  opacity: 1;
  visibility: visible;
  color: #000;
}

.header-phone {
  cursor: pointer;
}

.header-account {
  cursor: pointer;
  padding: 0 0 0 15px;
}

.cart {
  padding: 0 0 0 20px;
}

.hv:hover {
  color: #ebaf60;
  transition: all 0.5s;
}

.follow {
  cursor: pointer;
  padding: 0 0 0 15px;
}

/* css modal account */
.show-login-canvas .canvas-customer-login {
  right: 0;
}

.show-login-canvas .header-overlay {
  opacity: 1;
  visibility: visible;
}

.header-overlay {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9990;
  cursor: pointer;
}

.header-wrapper-end {}

.header-canvas-menu {
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 100%;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .6);
  -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .6);
  -ms-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .6);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .6);
  position: fixed;
  top: 0;
  left: -450px;
  /* left:0; */
  bottom: 0;
  z-index: 9999;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.canvas-customer-login {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 100%;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .6);
  -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .6);
  -ms-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .6);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .6);
  position: fixed;
  top: 0;
  right: -500px;
  bottom: 0;
  z-index: 9999;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.canvas-customer-login .close {
  display: block;
  font-size: 20px;
  line-height: 1;
  color: #000;
  opacity: 1;
  position: absolute;
  top: 10px;
  right: 20px;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  cursor: pointer;
}

.canvas-customer-login .canvas-content-wrapper {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
  margin-top: 10px;
  overflow: auto;
}

.canvas-customer-login .canvas-content-wrapper .title {
  display: block;
  margin-bottom: 15px;
  border: none;
  font-size: 26px;
  line-height: 1;
  font-weight: 500;
  color: #000;
}

.canvas-customer-login .canvas-content-wrapper .create-account {
  display: block;
  font-size: 16px;
  line-height: 1.75;
  color: #000;
}

.canvas-customer-login .canvas-content-wrapper .create-account a {
  margin-left: 5px;
  color: #666;
}

.myaccount-form-login input {
  height: 35px;
  padding: 0 0 3px;
  border: none;
  border-bottom: 2px solid #eee;
  font-size: 16px;
  line-height: normal;
  color: #000;
  outline: none;
  width: 100%;
}

.myaccount-form-login .field-control {
  margin-top: 40px;
}


.myaccount-form-login input {
  height: 35px;
  padding: 0 0 3px;
  border: none;
  border-bottom: 2px solid #eee;
  font-size: 16px;
  line-height: normal;
  color: #000;
}

.myaccount-form-login .remind {
  margin-top: 10px;
  font-size: 15px;
}

.myaccount-form-login .remind a {
  color: #9a9a9a;
}

.field.choice,
.form-group.choice {
  position: relative;
  text-align: left;
}

.myaccount-form-login .mgs-gdpr-checkbox input[type=radio],
.myaccount-form-login .mgs-gdpr-checkbox input[type=checkbox] {
  opacity: 1;
  height: 13px !important;
  min-height: unset;
  margin: unset;
}



.field.choice .label,
.form-group.choice .label {
  margin: 0;
  font-size: 13px;
  cursor: pointer;
  white-space: normal;
}

.myaccount-form-login .actions-toolbar {
  display: block;
  margin-top: 30px;
}

.myaccount-form-login .actions-toolbar .btn-login {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  background: #000;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 500;
}



.myaccount-socials-login,
.block-customer-login {
  width: 100%;
  margin-top: 45px;
  padding-top: 45px;
  border-top: 1px solid #eee;
}

.myaccount-socials-login>div:not(:last-child) {
  margin-bottom: 20px;
}

.myaccount-socials-login .login-facebook {
  background: #4267b2;
}

.myaccount-socials-login>div a {
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.myaccount-socials-login>div i {
  margin-right: 20px;
  font-size: 20px;
}

.myaccount-socials-login>div:not(:last-child) {
  margin-bottom: 20px;
}

.myaccount-socials-login .login-google {
  background: #dc5246;
}

.close-menu {
  display: block;
  font-size: 20px;
  line-height: 1;
  color: #000;
  opacity: 1;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

/* slide show */
.img-side {
  width: 100%;
  object-fit: contain;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin-top: 120px;
}

.slide {
  display: none;
}

.fade {
  opacity: 1 !important;
}

.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}


.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active {
  background-color: #fff;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.content {
  padding: 0 40px;
}

/* content */

#new-arrival-title {
  font-family: 'Helvetica Neue', sans-serif !important;
  letter-spacing: 0.5px;
  line-height: 1.4;
  font-weight: 400;
  max-width: 100%;
  margin: 48px 0 30px;
  padding: 0 30px;
}

.product-card {
  position: relative;
  overflow: hidden;
}

.product-card .image-container {
  width: 100%;
  height: 40rem;
}

.product-card .base-image {
  max-width: 100%;
  height: auto;
}

.image-container:hover .base-image {
  display: none;
}

.image-container .hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1.5s ease;
  max-width: 100%;
  height: auto;
}

.image-container:hover .hover-image {
  opacity: 1;
}
/* sale */
.sale {
  display: block;
  min-width: 65px;
  min-height: 25px;
  padding: 5px 10px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  line-height: normal;
  background: #e95144;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 8;
}